.git
.github
.idea
.run
.vs
**/bin
**/obj
**/*.user
**/*.log
**/AccountAPI.json
**/CharacterAPI.json
**/AspireMigrations.json
**/AuthServer.json
**/CharacterServer.json
**/ChatServer.json
**/FriendshipServer.json
**/GroupServer.json
**/StsServer.json
**/WorldServer.json
.env
Dockerfile*
README.md
